@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  font-family: 'Farro', sans-serif;
}

.container {
  max-width: 98%;
  margin: 15px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  /* padding: 30px; */
  border-radius: 5px;
}

.navigation{
  padding: 5px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  /* margin-left: 2.5%; */
  /* margin-right: 2.5%; */
  width: 100%;
  background-color: lightgray;
  float: left;
  border-radius: 5px;
}

.navigation-element{
  float: left;
}

.menuBtn{
  height: 3em;
  width: 3em;
  color: grey;
  cursor: pointer;
  float: left;
}

.mainHeader{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 30px;
  border: black solid 1px;
  border-radius: 10px;
}